.posts{
    display: flex;
}
.product-container{
    border-right: 2px solid lightgrey;
    width: 70%;
    margin-left: 15px;
}
.cart-container{
    text-align: center;
    border-left: 2px sold grey;
    width: 30%;
}