.header img{
    height: 80px;
    width: 100px;
}
.header {
    text-align: center;
}

.header nav{
    background-color: black;
    text-decoration: none;
    text-align: left;
    padding: 5px;
}
.header nav a{
    padding: 2px;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    color: white;
}
.header nav a:hover{
    background-color: grey;
}